*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    
}
body{
    display: block;
    background-color: #FFC0CB;
}

nav{
    background-color: black;
}

.menuprincipal-res{
    display: none;
}

.navli{
    display: inline-block;
    padding: 20px;
    color:white;
}


.navli:hover {
    color: rgb(212, 199, 199);
}
.navli:hover a{
    color: rgb(212, 199, 199);
}
.navli a{
    color: white;
    text-decoration: none;
}
.navli i{
    color: white;
    width: 30px;
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
    
}

.boton-res-container{
    position: absolute;
    width: 100%;
    font-size: 25px;
    background-color: black;
    margin-top: -64px;
    z-index: 100;
}
.boton-res{
    padding: 6px 20px;
    text-align: right;
    width: 100%;
}
/*
color: white;
    font-size: 30px;
    
*/



@media only screen and (max-width:1130px){
    *{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 0;
        margin: 0;
    }
    .menuprincipal{
        display: none;
    }
    nav{
        display: block;
        height: 37px;
        width: 100%;
        background-color: black;
    }
    .menuprincipal-res{
        display: block;
        position: absolute;
        width: 100%;
        margin-top: 37px;
        padding-top: 27px;
        padding-right: -20px;
    }
    .menuprincipal-res-container{
        position: relative; 
        top: -1000px;
        padding-bottom: 10px;
        height: calc(100vh- 64px);
        background: rgb(58, 55, 55);
        transition: all 1s;
        z-index: 1;
    }
    .navli-res{
        width: 100%;
        padding: 9px 20px;
        box-sizing: border-box;
    }
    .navli-res i {
        color: white;
        box-sizing: border-box;
        text-align: center;
        margin-right: 5px;
        width: 30px;
    }

    .navli-res a{
        color: white;
        text-decoration: none;
    }
    .boton-res-container{
        width: 100%;
        background-color: white;
        margin-right: -15px;
    }
    .boton-res-container i{
        position: relative;
        float: right;
    }
    nav .menuprincipal-res:hover > .menuprincipal-res-container{
        padding-top: 12px;
        margin-top: -25px;
        top: -5px;
        
    }
    nav .menuprincipal-res:hover > .menuprincipal-res{
        margin-top: 0;
        padding-top: 0;
    }
}